<section class="search_box container">
  <div class="row">
    <input type="text" class="u-full-width" placeholder="Search for movies" data-widget="movie-search" data-target="movie_index" />
  </div>
</section>


<section id="movie_index" class="movie_index container" data-widget="movie-index">
</section>


<script id="movie_widget_template" type="text/x-handlebars-template">
  <article class="movie_widget row" data-widget="movie-widget">

    <div class="four columns">
      <header>{{title}}</header>
      <img src="{{posters.thumbnail}}" alt="{{title}}"/>
    </div>
    <aside class="details eight columns">
      <p class="year">Year: {{year}}</p>
      <p class="rating">Rating: {{mpaa_rating}}</p>
      <p class="runtime">Runtime: {{runtime}} minutes</p>
      <p class="synopsis">{{synopsis}}</p>
      <% if user_signed_in? %>
        {{#ifInBoughtList id}}
          <button class="buy_movie_button button-primary" disabled="disabled">IN LIBRARY</button>
        {{else}}
          <button class="buy_movie_button button-primary" >BUY €2.99</button>
        {{/ifInBoughtList}}
      <% else %>
        <button class="show_login_button button-primary">BUY</button>
        <aside class="login_advertise" style="display:none">
          You have to <a href="/users/sign_in">login</a> to buy movies.
        </aside>
      <% end %>
    </aside>
  </article>
</script>